:root {
  --preview-color: rgb(107, 255, 107);
  --preview-placed-color: rgb(0, 189, 0);
}

#gameboard-wrapper {
  display: flex;
  justify-content: space-around;
}

.gameboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--font-color);
  letter-spacing: 1px;
  font-weight: lighter;
  text-transform: uppercase;
}

.gameboard-container h2 {
  margin: 1rem 0px;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 40px);
  grid-template-rows: repeat(10, 40px);
  gap: 2px;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: rgb(146, 224, 250);
  border: 1px solid #333;
}
.cell.ship {
  background-color: gray;
}
.cell.hit {
  background-color: red;
}
.cell.miss {
  background-color: white;
}

.cell.preview {
  background-color: var(--preview-color);
}

.cell.preview-placed {
  background-color: var(--preview-placed-color);
}

.setup-controls {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
}
